<h2>글 작성</h2>
<form action="/boards/create_at" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">제목</label>
    <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="제목">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">내용</label>
    <textarea type="text" class="form-control" name="content" id="exampleFormControlTextarea1" line-height="2.5" placeholder="내용을 입력하세요" ></textarea>
  </div>
  <button type="submit" class="btn btn-info">작성하기</button>
</form>
<br>
<a href="/boards/list"><button type="submit" class="btn btn-info">취소하기</button></a>